:root {
  --body-background-color: #172127;
  --body-text-color: #e6e6e6;
  --card-background-color: #0d1216;
  --nav-background-color: #0d1216;
  --nav-border-bottom-color: #1a262d;
  --nav-current-border-bottom-color: #e6e6e6;
  --card-border-color: #1a262d;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #78b159;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
